<div class="flex flex-col text-lg">
    <div class="my-4"> <span class="font-bold mr-4">{{todo?.Name}} </span> <span class="text-white border px-2 py-2 rounded-md font-bold text-sm" [style.backgroundColor]="todo?.Done ? 'green' : 'red'">{{todo?.Done ? 'Todo is done' : 'Todo is pending'}}</span></div>
    <span class="mb-16"> {{todo?.Description}}</span>
</div>
<div class="grid grid-cols-4 gap-4 text-lg">
    <div class="">
        <span class="font-bold align-right mr-2">Id </span>
        <span class=""> {{todo?.Id}}</span>
    </div>
    <div class="">
        <span class="font-bold align-right mr-2">Expenses </span>
        <span class=""> {{formatExpenses(todo?.Expenses)}}</span>
    </div>
    <div>
        <span class="font-bold align-right mr-2">Created date </span>
        <span class="" [ngClass]="{'px-2 py-1 bg-red-500 text-white rounded': isInvalidDate(todo?.Created)}"> {{getCreatedDate(todo?.Created)}}</span>
    </div>
    <div>
        <span class="font-bold align-right mr-2">Days old </span>
        <span class="" [ngClass]="{'px-2 py-1 bg-red-500 text-white rounded': isInvalidDate(todo?.Created)}"> {{getDaysOld(todo?.Created)}}</span>
    </div>
</div>

<div class="flex mt-auto pt-16">
    <button class="mx-2 my-8 cursor-pointer" (click)="goBack()">Go Back</button>
</div>