<div class="mt-10 mx-20 my-10">
    <div class="flex justify-between items-center mb-8">
        <div class="text-2xl font-bold pl-4">List</div>
        <button 
            (click)="openTodoForm()" 
            class="flex items-center gap-2 bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
            </svg>
            Add Todo
        </button>
    </div>
    
    <div class="grid grid-cols-6 gap-4 text-lg mb-2 pl-4">
        <div class="col-span-1">
            <span>Done</span>
        </div>
        <div class="col-span-1">
            <span>Id</span>
        </div>
        <div class="col-span-3">
            <span>Name</span>
        </div>
        <div class="col-span-1">
            <span>Created date</span>
        </div>
    </div>
    <app-todo-item *ngFor="let todo of todos" [todo]="todo"></app-todo-item>

</div>

<!--class="grid grid-cols-5 gap-4 py-2" (click)="clcikBla()">
    <div class="inline-flex items-center">
        <label class="flex items-center cursor-pointer relative">
            <input type="checkbox" 
                   [checked]="todo.Done" 
                   (change)="toggleTodo(todo)" 
                   class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow hover:shadow-md border border-slate-300 checked:bg-slate-800 checked:border-slate-800" />
            <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            </span>
        </label>
    </div> 
    <span>{{ todo.Id }}</span>
    <h3 class="col-span-2">{{ todo.Name }}</h3>
    <span>{{ todo.Created | date:'dd/MM/yyyy' }}</span>
</div-->

<!-- Todo Form Modal -->
<app-todo-form 
    [isVisible]="showTodoForm" 
    (close)="closeTodoForm()" 
    (save)="saveTodo($event)">
</app-todo-form>